.body{
	background-color:darkturquoise;}

.caja1{
	width:200px;
	height:200px;
	display:flex;
	justify-content:center;
	background-color: pink;}

.caja2{
	width:200px;
	height:200px;
	display:flex;
	justify-content:center;
	background-color: darkpink;}
